/* font-family: 'Lato', sans-serif; */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: #60dda7;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 900 !important;
  font-style: italic;
  letter-spacing: 0.08rem;
  padding: 5px 0 5px 0;
  margin-bottom: 0;
}

.main-container {
  font-family: Helvetica, sans-serif;
}

.left-menu {
  width: 30%;
}

.todo-container {
  width: 70%;
}

li {
  list-style: none;
}

.project {
  color: rgb(104, 100, 100);
}

.active-project {
  font-weight: bold;
  color: #000;
}

/* .new-todo-container {
  display: none;
} */
