/* font-family: 'Lato', sans-serif; */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: #60dda7;
  text-align: center;
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 900 !important;
  font-style: italic;
  letter-spacing: 0.08rem;
  padding: 5px 0 5px 0;
  margin-bottom: 0;
}

.main-container {
  font-family: Helvetica, sans-serif;
}

.left-menu {
  background-color: lightskyblue;
  width: 35%;
}

.todo-content {
  background-color: lightcoral;
  width: 65%;
}